{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}
<style>

.error {
    color: red !important;
}

</style>
{% block content %}
    <div id="body">
        <div class="container">
                <form class="signup-form" method="POST">
                    <h1 style="margin-top:20px">HackArena</h1>
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="error" style="color: red; font-size: 13px;">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div>
                        {{ form.username }} <!-- Username input -->
                        <div class="error">{{ form.username.errors }}</div>
                    </div>
                    <div>
                        {{ form.password }} <!-- Password input -->
                        <div class="error">{{ form.password.errors }}</div>
                    </div>
                    <button type="submit">Log In</button>
                    <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
                    <p>or you can sign up with</p>
                    <div class="social-icons">
                        <a href="#"><img src="{% static 'img/google.png' %}" alt="Google"></a>
                        <a href="#"><img src="{% static 'img/facebook.png' %}" alt="Facebook"></a>
                    </div>
                </form>
        </div>
    </div>
{% endblock %}