{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    
    {# Google Fonts  #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    {# CSS  #}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% block css %} {% endblock %}
  </head>
  <body>
  <nav id="nav">
    <div id="nav_left">
      <a href="{% url 'home' %}">
        <h3>HackArena</h3>
      </a>
    </div>
    <div id="nav_mid">
      <a href="{% url 'learn_home' %}" class="title">Learn</a>
      <a href="{% url 'practice_home' %}" class="title">Practice</a>
      <a href="{% url 'compete_home' %}" class="title">Compete</a>
      <div id="nav_right">
        {% if user.is_authenticated %}
            <!-- Display user information and logout -->
            <a href="{% url 'my_home' user.username %}" class="title1">{{ user.username }}!</a>
            <a href="{% url 'logout' %}" class="title1">Logout</a>
        {% else %}
            <!-- Display login and signup links when not authenticated -->
            <a href="{% url 'login' %}" class="title1">Login</a>
            <a href="{% url 'signup' %}" class="title1">Sign Up</a>
        {% endif %}
      </div>
    </div>
  </nav>
    {% block content %} {% endblock %}
  </body>
</html>
